.inOutField {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body {
  background: gray
}

.inOutField textarea {
  width: 45%;
  
}
.btn {
  outline: none;
  background: #33a;
  margin: 0;
  padding: 15px;
}